<%- include('../includes/header.ejs') %>
    <main class="content">
        <h1 class="page-title">Shop</h1>
        <h2>Product List</h2>
        <%  if(productsArray.length > 0){ %>
                    <% for(let counter of productsArray){ %>
                    <p>Product Name: <%=counter.title %></p>
                    <p>Product Description: <%=counter.description %></p>
                    <p>Product Price: <%=counter.price %></p>
                    <% } %>
        <% } else {  %>
                <p>There is no Products</p>
        <% }  %>
    </main>
<%- include('../includes/footer.ejs') %>